/*
CSS RESET
    1. Use a more-intuitive box-sizing model.
    2. Remove default margin
    
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering

    5. Improve media defaults
    6. Remove built-in form typography styles
    7. Avoid text overflows
    8. Create a root stacking context
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* END CSS RESET */

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --yale-blue: #003566ff;
    --gold: #ffd60aff;
    --mikado-yellow: #ffc300ff;
    --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
}

.container {
    margin: 1rem;
    padding: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

article.search {
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

#searchBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

input[name="searchBookTitle"] {
    padding: 5px 10px;
    width: 100%;
    border: 2px solid var(--oxford-blue);
}

.submit-button {
    display: inline-block;
    color: var(--rich-black);
    background-color: var(--mikado-yellow);
    border: 2px solid var(--oxford-blue);
    padding: 5px 10px;
    width: 100%;
}

.submit-button:hover {
    background-color: var(--oxford-blue);
    color: var(--mikado-yellow);
    border: 2px solid var(--yale-blue);
}

/* sm-md screen */
@media screen and (min-width: 576px ) {
    #searchBook {
        flex-direction: row;
        gap: 10px;
    }

    #searchBook > input {
        width: 300px;
    }
    .submit-button {
        width: 80px;
    }
}


/* md++ screen */
@media screen and (min-width: 768px ) {
}